{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}
  <h1 class="my-5">{{ review.pk }}번 게시글</h1>
  <p>{{ review.title }}
  </p>
  <p>{{ review.content }}
  </p>
  {% if review.image %}
    <img src="{{review.image.url}}" alt="{{review.image}}">
  {% endif %}
  {% if request.user == review.user %}
    <div class="d-flex justify-content-end">
      <a class='btn btn-success me-2' href="{% url 'reviews:update' review.pk %}">수정하기</a>
      <form action="{% url 'reviews:delete' review.pk %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">삭제하기</button>
      </form>
    </div>
  {% endif %}
  <div class="mt-3">
    <h5>댓글</h5>
    {% if comments %}
      <p>댓글 :
        {{ comments|length}}
        개</p>
    {% endif %}
    {% if request.user.is_authenticated %}
      <form action="{% url 'reviews:comment_create' review.pk %}" method="POST">
        {% csrf_token %}
        {% bootstrap_form comment_form %}
        <button class="btn btn-outline-primary" type="submit">등록</button>
      </form>
    {% endif %}
    <div>
      <ul class="list-group list-group-flush">
        {% for comment in comments %}
          <li class="list-group-item">
            {% for profile_se in review.user.profile_set.all %}
              {% if profile_se.image %}
                <img src="{{ profile_se.image.url }}" alt="{{ profile_se.image }}" style="width: 35px; height: 35px; border-radius: 500px">
              {% else %}
                <img src="https://dummyimage.com/1200x960/000000/c4c4c4" alt="image" style="width: 35px; height: 35px; border-radius: 500px">
              {% endif %}
            {% endfor %}
            {{comment.user.username}}
            |
            {{ comment.content }}
            <span>|
              {{ comment.created_at }}</span>
            {% if request.user == comment.user %}
              <form action="{% url 'reviews:comment_delete' review.pk comment.pk %}" method="POST">
                {% csrf_token %}
                <button class="btn btn-outline-danger" type="submit">삭제</button>
              </form>
            {% endif %}
          </li>
          {% empty %}
          <li class="list-group-item">
            작성된 댓글이 없습니다.
          </li>
        </ul>
      {% endfor %}
    </div>
  </div>
{% endblock content %}