{% extends 'base.html' %}
{% block content %}
  <div>
    <h1>게시글 목록</h1>
    <a class='btn btn-danger my-3' href="{% url 'reviews:create' %}">
      <i class="bi bi-pencil-square"></i>
    </a>
  </div>

  <div class="row">
    {% for review in reviews %}
      <div class="col-12 col-lg-4 col-md-6">
        <a href="{% url 'reviews:detail' review.pk%}">
          <div class="card">
            <div class="card-body">
              <div class='thumb'>
                {% if review.image %}
                  <img src="{{ review.thumbnail.url }}" alt="{{review.image}}">
                {% else %}
                  <img src="https://dummyimage.com/1200x960/000000/c4c4c4" alt="image">
                {% endif %}
              </div>
            </a>

            <div class="d-flex mt-2">
              <div class="mt-2">
                <a href="{% url 'accounts:profile'  %}">
                  {% for profile_se in review.user.profile_set.all %}
                    {% if profile_se.image %}
                      <img src="{{ profile_se.image.url }}" alt="{{ profile_se.image }}" style="width: 35px; height: 35px; border-radius: 500px">
                    {% else %}
                      <img src="https://dummyimage.com/1200x960/000000/c4c4c4" alt="image" style="width: 35px; height: 35px; border-radius: 500px">
                    {% endif %}
                  {% endfor %}
                </a>
              </div>
              <div class="mx-2">
                <a href="{% url 'reviews:detail' review.pk%}">
                  <h5 class="card-title">{{ review.title }}</h5>
                </a>
                <a href="{% url 'accounts:profile'  %}">
                  <span class="text-muted">
                    {{review.user.username}}
                  </span>
                </a>
              </div>

            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}